<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="ja"
>
  <head>
    <title>サシノミ!!</title>
    <meta charset="utf-8" />
    <script>
      let intervalId;
      document.addEventListener('DOMContentLoaded', function() {
        intervalId = setInterval(function() {
          console.log("start");
        }, 10000);
      });

      // ページが破棄されるときにスケジューリングを解除
      window.addEventListener('beforeunload', function() {
          if (intervalId) {
              clearInterval(intervalId); // タイマーを解除
              console.log('ページが破棄されるため、スケジューリングが解除されました');
          }
      });
    </script>
  </head>
    <div th:if="${url} != null">
      <p>マッチング完了<br>URL:<span th:text="${url}"></span></p>
    </div>
    <div th:if="${url} == null">
      <p>マッチング中</p>
    </div>    
    <h1>待機時掲示板</h1>
    <div id="messages"></div>
  </body>
</html>
